<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li ><a href="../bill/list.html">账单管理</a></li>
                <li id="active"><a href="../provider/list.html">供应商管理</a></li>
                <li><a href="../user/list.html">用户管理</a></li>
                <li><a href="../main/password.html">密码修改</a></li>
                <li><a href="../main/login.html">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>供应商管理页面 >> 供应商修改页</span>
        </div>
        <div class="providerAdd">
            <form action="#" id="updateForm" th:method="post" th:action="@{/providers}">
                <!--
                发送put请求修改供应商信息
                1. 在SpringMVC中配置HiddenHttpMethodFilter（SpringBoot自动配置好了）
                2. 页面创建一个method="post"表单
                3. 创建一个input标签 name="_method"，value="指定请求方式"
                -->
                <input type="hidden" name="_method" value="put"/>
                <input type="hidden" name="pid" th:value="${provider.pid}"/>
                <input type="hidden" name="providerCode" th:value="${provider.providerCode}"/>
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="providerName">供应商名称：</label>
                    <input type="text" name="providerName"
                           th:value="${provider.providerName}" id="providerName"/>
                    <span >*请输入供应商名称</span>
                </div>
                <div>
                    <label for="people">联系人：</label>
                    <input type="text" name="people" id="people"
                           th:value="${provider.people}"/>
                    <span>*请输入联系人</span>
                </div>
                <div>
                    <label for="phone">联系电话：</label>
                    <input type="text" name="phone" id="phone"
                           th:value="${provider.phone}"/>
                    <span>*请输入联系电话</span>
                </div>
                <div>
                    <label for="address">联系地址：</label>
                    <input type="text" name="address" id="address"
                           th:value="${provider.address}"/>
                    <span></span>
                </div>
                <div>
                    <label for="fax">传真：</label>
                    <input type="text" name="fax" id="fax" th:value="${provider.fax}"/>
                    <span></span>
                </div>
                <div>
                    <label for="describe">描述：</label>
                    <input type="text" name="describe" id="describe"
                           th:value="${provider.describe}"/>
                </div>
                <div class="providerAddBtn">
                    <input type="button" value="保存" onclick="$('#updateForm').submit();"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer"><div style="text-align:center;">	<p><a href="http://www.mengxuegu.com/" target="_blank">梦学谷 www.mengxuegu.com</a> 版权所有</p></div></footer>
<script src="../js/jquery.js"></script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>